h2 {
    color: blue;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;
  
    ;
    border: 12px solid blue; 
    background-color: yellow;

}

/***** Bu proje deva edece ****/